<div class="page-layout simple fullwidth angular-material-elements">
  <!-- HEADER -->
  <div class="header accent p-24 h-100" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="h2 head-icon">
        <mat-icon aria-hidden="true">person</mat-icon>{{'NAV.employee.view' | translate}}
      </div>
    </div>
    <div>
      <a *ngIf="roleModule.write" mat-raised-button class="reference-button mt-16 mt-sm-0" [routerLink]="urlCurrentAdd">
        <mat-icon class="mr-8">add</mat-icon>
        <span>{{'NAV.employee.add' | translate}}</span>
      </a>
      <a style="margin-left: 10px;" *ngIf="roleModule.write" mat-raised-button class="reference-button mt-16 mt-sm-0"
        [routerLink]="urlCurrentBulk">
        <mat-icon class="mr-8">cloud_upload</mat-icon>
        <span>{{'NAV.employee.bulkUpload' | translate}}</span>
      </a>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24">
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field class="set-search-box-matField">
        <input matInput  name="search" placeholder="Search" [formControl]="myControl" [matAutocomplete]="auto" class="search_input"> <!--[(ngModel)]="selection.empName"  (change)="applyFilter($event.target.value)" (keyup)="applyFilter($event.target.value)" -->
        <mat-icon class="edit-color search-icon" (click)="applyFilter($event.target.value)" style="cursor: pointer;">
          search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.empName | decryption" (click)="applyFilter($event.target.value)">
              {{option.empName | decryption}}
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="employeeData" class="mat-elevation-z8">
      <ng-container matColumnDef="sNo">
        <th mat-header-cell *matHeaderCellDef> {{'employeeTable.sNo' | translate}}</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="empName">
        <th mat-header-cell *matHeaderCellDef>{{'employeeTable.empName' | translate}} </th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.empName | decryption"> {{element.empName | decryption}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>{{'employeeTable.deptName' | translate}} </th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.departmentName | decryption"> {{element.departmentName | decryption}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>{{'employeeTable.email' | translate}}</th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.email | decryption"> {{element.email | decryption}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>{{'employeeTable.phone' | translate}}</th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.contactNo"><span *ngIf="element.countryCode">+{{element.countryCode}}</span> {{element.contactNo}} </td>
      </ng-container>
      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef>{{'employeeTable.designation' | translate}}</th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.designation | decryption"> {{element.designation | decryption}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef >{{'employeeTable.action' | translate}} </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="roleModule.write" mat-button class="edit-del" (click)="editEmployee(element.id,element.flagCode)"
            matTooltip="Edit">
            <mat-icon class="edit-color">edit</mat-icon>
          </button>
          <button *ngIf="roleModule.write" mat-button class="edit-del" (click)="deleteEmployeePopUp(element.id)"
            matTooltip="Delete">
            <mat-icon class="del-color">delete</mat-icon>
          </button>
          <button *ngIf="!roleModule.write" mat-button class="edit-del" (click)="editEmployee(element.id,element.flagCode)"
            matTooltip="View">
            <mat-icon class="edit-color">remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div fxLayout="row" fxLayoutAlign="center center" class="no-data-available"
      [ngClass]="(employeeData.length === 0)?'visible-no-data-available':''">
    </div>
    <mat-paginator #paginator [length]="resultsLength" [pageSize]="selection.pSize" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="getPaginatorData($event)">
    </mat-paginator>
  </div>
</div>