:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}

.mat-icon.upload-icon {
    font-size: 45px;
    line-height: 1;
    height: 45px;
    padding: 0;
    width: 45px;
    cursor: pointer;
}

#photoInput {
    display: none;
}

.image-file-set {
    align-items: center;
    display: flex;

}



.box-shadow-reset {
    padding-top: 0px !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}

.display-block-role {
    display: block !important;
    width: 100%;
}