<div class="page-layout simple fullwidth angular-material-elements">
  <!-- HEADER -->
  <div class="header accent p-24 h-100" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="h2 head-icon">
        <mat-icon aria-hidden="true" svgIcon="plan" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"></mat-icon><span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{'NAV.appraisalPlan.view' | translate}}</span>
      </div>
    </div>
  </div>
  <!-- / HEADER -->
  <!-- CONTENT -->
  <div class="content p-24">
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-form-field class="set-search-box-matField">
        <input matInput [(ngModel)]="selection.planName" name="search" placeholder="Search" class="search_input"
          (change)="applyFilter($event.target.value)"> <!-- (keyup)="applyFilter($event.target.value)" -->
        <mat-icon class="edit-color search-icon" (click)="applyFilter($event.target.value)" style="cursor: pointer;">
          search</mat-icon>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 appraisal-plan-table">
      <ng-container matColumnDef="sNo">
        <th mat-header-cell *matHeaderCellDef> {{'appraisalPlanTable.sNo' | translate}} </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="appraisalPlan">
        <th mat-header-cell *matHeaderCellDef>{{'appraisalPlanTable.planName' | translate}}</th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.planName"> {{element.planName}} </td>
      </ng-container>
      <ng-container matColumnDef="objective">
        <th mat-header-cell *matHeaderCellDef>{{'appraisalPlanTable.purpose' | translate}} </th>
        <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.objective"> {{element.objective}} </td>
      </ng-container>
      <ng-container matColumnDef="creation">
        <th mat-header-cell *matHeaderCellDef>{{'appraisalPlanTable.startDate' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          {{+element?.fromMonth < 10 ? '0' + element?.fromMonth : element?.fromMonth}} /{{element.fromYear}} </td>
      </ng-container>
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>{{'appraisalPlanTable.endDate' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{+element?.toMonth < 10 ? '0' + element?.toMonth : element?.toMonth}}
          /{{element.toYear}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{'appraisalPlanTable.viewObj' | translate}}</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="edit-del" (click)="viewObjective(element.appraisalPlanId,element.planName)" matTooltip="View Appraisees">
            <mat-icon class="edit-color" style="color: #cc0000;">remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div fxLayout="row" fxLayoutAlign="center center" class="no-data-available"
      [ngClass]="(dataSource.data.length === 0)?'visible-no-data-available':''">
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <!-- <mat-paginator #paginator [length]="resultsLength" [pageSize]="selection.pSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="getPaginatorData($event)"> -->
    <!-- </mat-paginator> -->
  </div>
</div>