table {
    width: 100%;
  }
  

  
  .mat-icon.search-icon {
    position: absolute;
    right: 0px;
    top: 0;
  }
  
  .appraisal-plan-table td.mat-cell:last-of-type,
  .appraisal-plan-table th.mat-header-cell:last-of-type {
    padding-right: 0px !important;
    width: auto !important;
  }