<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="center start">
        <button mat-icon-button class="mr-0 backbutton" (click)="backToAppraisees()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="h1 head-icon">
          <mat-icon aria-hidden="true" svgIcon="plan"></mat-icon>{{'NAV.appraisalPlan.consolidationSheet' | translate}}
          <div class="state_name-set">{{stateName}}</div>
        </div>
      </div>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
      <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
        <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
          [formGroup]="consolidateForm">
          <div class="scrollable-div-consolidate">
            <table class="tg consolidateTable">
           <!--  <thead>
              <tr>
                <th class="tg-0lax head-th" colspan="12">Input by HR</th>
                <th class="tg-0lax head-th" colspan="7">Input by HOD </th>
              </tr>
            </thead> -->
            <tbody>
              <tr class="th-subclas">
                <td class="tg-0lax static-column td-fixed-margin1" rowspan="2">Appraisal Group </td>
                <td class="tg-0lax" rowspan="2">Dept.</td>
                <td class="tg-0lax" rowspan="2">Branch</td>
              <!--   <td class="tg-0lax" rowspan="2">Sl. No</td> -->
                <td class="tg-0lax static-column td-fixed-margin2" rowspan="2">Emp ID</td>
                <td class="tg-0lax static-column td-fixed-margin3" rowspan="2">Employee Name</td>
                <td class="tg-0lax" rowspan="2">Grade</td>
                <td class="tg-0lax" rowspan="2">Designation</td>
                <td class="tg-0lax" rowspan="2">DOJ</td>
                <td class="tg-0lax" colspan="3">Appraiser Names</td>
              
                <td class="tg-0pky" colspan="8">Mid-term</td>
                <td class="tg-0pky" colspan="8"  *ngIf="consolidateData[0]?.endTermProcessStatus==1">End-term</td>
              </tr>
              <tr class="th-subclas">
                <td class="tg-0lax">1st Appraiser</td>
                <td class="tg-0lax">2nd Appraiser</td>
                <td class="tg-0lax">3rd Appraiser</td>
                <td class="tg-0lax">Objective Score</td>
                <td class="tg-0lax">Competency Score</td>
                <td class="tg-0lax" >Company Performance Score </td>
                <td class="tg-0lax">Total Score</td>
                <td class="tg-0lax">Total Score Out Of 100</td>
                <td class="tg-0pky">Rank Order</td>
                <td class="tg-0pky">Indicative Rating</td>
                <td class="tg-0pky">Remark</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">Objective Score</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">Competency Score</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1" >Company Performance Score </td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">Total Score</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">Total Score Out Of 100</td>
                <td class="tg-0pky"  *ngIf="consolidateData[0]?.endTermProcessStatus==1">Rank Order</td>
                <td class="tg-0pky"  *ngIf="consolidateData[0]?.endTermProcessStatus==1" >Indicative Rating</td>
                <td class="tg-0pky"  *ngIf="consolidateData[0]?.endTermProcessStatus==1">Remark</td>
              </tr>
              <ng-container formArrayName="ratingConsolidatorSheet" >
            <tr class="td-data"  *ngFor="let data of consolidateForm.get('ratingConsolidatorSheet')?.controls; let i=index">
                <ng-container [formGroupName]="i">
                <td class="tg-0lax static-column td-fixed-margin4">{{consolidateData[i].groupName | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].departmentName | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].sectionName | decryption}}</td>
         <!--        <td class="tg-0lax">1</td> -->
                <td class="tg-0lax static-column td-fixed-margin5">{{consolidateData[i].empCode | decryption}}</td>
                <td class="tg-0lax static-column td-fixed-margin6">{{consolidateData[i].empName | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].grade | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].designation | decryption}} </td>
                <td class="tg-0lax">{{consolidateData[i].dateOfJoining |  date :pasonaService.dateFormat}}</td>
                <td class="tg-0lax">{{consolidateData[i].firstAppraiserName | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].secondAppraiserName | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].thirdAppraiserName | decryption}}</td>
                <td class="tg-0lax">{{consolidateData[i].performanceObjectiveScore + consolidateData[i].developmentObjectiveScore}}</td>
                <td class="tg-0lax">{{consolidateData[i].competencyScore }}</td>
                <td class="tg-0lax">{{consolidateData[i].companyParameterScore }}</td>
                <td class="tg-0lax">{{consolidateData[i].total }}</td>
                <td class="tg-0lax">{{consolidateData[i].outOfHundredMidterm }}</td>
                
                <td class="tg-0lax">
                  <span *ngIf="submitForm">{{consolidateData[i].rankOrder | decryption}}</span>
                    <mat-form-field appearance="outline"class="consolidator-rating" *ngIf="!submitForm">
                        <mat-label >Rank Order</mat-label>
                      
                       <input matInput type="number" formControlName="rankOrder" min="0" maxlength="3"
                       >
                      <!--   <mat-error *ngIf="para.get('midTermAppraiseeRating').hasError('required')">
                        Rating is required.
                        </mat-error> -->
                        </mat-form-field>
                </td>
                <td class="tg-0lax">
                  <span *ngIf="submitForm">{{consolidateData[i].indicativeRating}}</span>
                <mat-form-field appearance="outline" class="consolidator-rating" *ngIf="!submitForm">
                 <mat-label class="required-astrick">Rating</mat-label>
                 <mat-select formControlName="indicativeRating" > <!-- formControlName="midTermAppraiseeRating" -->
                 <mat-option *ngFor="let rating of ratingData" value="{{rating}}">
                 {{rating}}
                 </mat-option>
                 </mat-select>
               <!--   <mat-error *ngIf="para.get('midTermAppraiseeRating').hasError('required')">
                 Rating is required.
                 </mat-error> -->
                 </mat-form-field></td>
                <td class="tg-0lax">
                  <span *ngIf="submitForm">{{consolidateData[i].remark | decryption}}</span>
                    <mat-form-field appearance="outline" class="consolidator-remarks" *ngIf="!submitForm">
                        <mat-label>Remarks</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" maxlength="200"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2" formControlName="remark"
                   ></textarea>
                </mat-form-field>
                </td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">{{consolidateData[i].endTermPerformanceObjectiveScore + consolidateData[i].endTermDevelopmentObjectiveScore}}</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">{{consolidateData[i].endTermCompetencyScore }}</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">{{consolidateData[i].endTermCompanyParameterScore }}</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">{{consolidateData[i].endTermTotal }}</td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">{{consolidateData[i].outOfHundredEndterm }}</td>
                <td class="tg-0lax"  *ngIf="consolidateData[0]?.endTermProcessStatus==1">
                  <span *ngIf="submitFormEndTerm">{{consolidateData[i].endTermRankOrder | decryption}}</span>
                    <mat-form-field appearance="outline"class="consolidator-rating" *ngIf="!submitFormEndTerm">
                        <mat-label >Rank Order</mat-label>
                      
                       <input matInput type="number" formControlName="endTermRankOrder" min="0" maxlength="3"
                       >
                      <!--   <mat-error *ngIf="para.get('midTermAppraiseeRating').hasError('required')">
                        Rating is required.
                        </mat-error> -->
                        </mat-form-field>
                </td>
                <td class="tg-0lax" *ngIf="consolidateData[0]?.endTermProcessStatus==1">
                  <span *ngIf="submitFormEndTerm">{{consolidateData[i].endTermIndicativeRating}}</span>
                <mat-form-field appearance="outline" class="consolidator-rating" *ngIf="!submitFormEndTerm">
                 <mat-label class="required-astrick">Rating</mat-label>
                 <mat-select formControlName="endTermIndicativeRating" > <!-- formControlName="midTermAppraiseeRating" -->
                 <mat-option *ngFor="let rating of ratingData" value="{{rating}}">
                 {{rating}}
                 </mat-option>
                 </mat-select>
               <!--   <mat-error *ngIf="para.get('midTermAppraiseeRating').hasError('required')">
                 Rating is required.
                 </mat-error> -->
                 </mat-form-field></td>
                <td class="tg-0lax"  *ngIf="consolidateData[0]?.endTermProcessStatus==1">
                  <span *ngIf="submitFormEndTerm">{{consolidateData[i].endTermRemark | decryption}}</span>
                    <mat-form-field appearance="outline" class="consolidator-remarks" *ngIf="!submitFormEndTerm">
                        <mat-label>Remarks</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" maxlength="200"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2" formControlName="endTermRemark"
                   ></textarea>
                </mat-form-field>
                </td>
            </ng-container>
              </tr>
              </ng-container>
            </tbody>
            </table>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="mt-20" *ngIf="!submitForm && consolidateData[0]?.endTermProcessStatus==0">
            <div class="color-red">Fields marked * are mandatory.</div>
            <button mat-raised-button color="accent" (click)="submitSheet()">{{'NAV.submit' | translate}}</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto" class="mt-20" *ngIf="!submitFormEndTerm && consolidateData[0]?.endTermProcessStatus==1">
          <div class="color-red">Fields marked * are mandatory.</div>
          <button mat-raised-button color="accent" (click)="submitSheetEndTerm()">{{'NAV.submit' | translate}}</button>
      </div>
       </form>
      </div>
    </div>
    <!-- / CONTENT -->
  </div>