:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}

.mat-icon.upload-icon{
    font-size: 45px;
    line-height: 1;
    height: 45px;
    padding: 0;
    width: 45px;
    cursor: pointer;
}
#photoInput
{
    display: none;
}
.image-file-set
{
    align-items: center;
    display: flex;

}


// .mat-step-label {
//     display: flex !important;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     align-items: center;
//     min-width: 290px !important;
//     vertical-align: middle;
// }
// .mat-progress-bar {
//     margin-top: 3px;
//     margin-left: 5px;
// }
// .mat-stepper-horizontal-line
// {
// min-width: 0px !important;
// margin: 0px !important;
// display: none;
// }


// .table-main-div-header
// {
//     background-color: #f5f5f5;
//     border-bottom: 2px solid lightgrey;
//     padding: 12px;
// }
// .content-tab
// {
//     border: 2px solid lightgrey; 
// }
.mat-icon.search-icon
{
  position: absolute;
    right: 0px;
    top: 0;
}
.span-Participants
{
font-size: 20px;
margin-left: 2%;
}
.display-block-set
{
    display: block !important;
}

.participant-view td.mat-cell:first-of-type, .participant-view td.mat-footer-cell:first-of-type, .participant-view th.mat-header-cell:first-of-type {
    padding-left: 24px;
    width: 200px !important;
}
.participant-view td.mat-cell:last-of-type,
.participant-view th.mat-header-cell:last-of-type {
  padding-right: 0px !important;
  width: auto !important;
}


