<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header accent p-24 h-100" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div class="h1 head-icon">
          <mat-icon aria-hidden="true">insert_chart</mat-icon>{{'NAV.companyParameter.view' | translate}}
        </div>
      </div>
      <a *ngIf="roleModule.write" mat-raised-button class="reference-button mt-16 mt-sm-0"
        (click)="addCompanyParameterPopUp('Add','','parameter','')">
        <mat-icon class="mr-8">add</mat-icon>
        <span>{{'NAV.companyParameter.add' | translate}}</span>
      </a>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
      <div fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field class="set-search-box-matField">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" class="search_input">
          <mat-icon class="edit-color search-icon">search</mat-icon>
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 parameterTable">
        <ng-container matColumnDef="sNo">
          <th mat-header-cell *matHeaderCellDef> {{'comParaTable.sNo' | translate}}</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{ (i+1) + (paginator.pageIndex * paginator.pageSize) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{'comParaTable.name' | translate}}</th>
          <td mat-cell *matCellDef="let element" [appEllipsifyMe]="element.name" > {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="parameter">
          <th mat-header-cell *matHeaderCellDef>{{'comParaTable.parameter' | translate}}</th>
          <td mat-cell *matCellDef="let element"
            (click)="addCompanyParameterPopUp('Parameter','','parameterList',element.parameters)">
            <ul style="padding: 0;list-style-position: inside;">
              <li class="overflow-ellipsis" *ngFor="let para of element.parameters |slice:0:3" [appEllipsifyMe]="para.parameterName | decryption">{{para.parameterName | decryption}}</li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="assign">
          <th mat-header-cell *matHeaderCellDef>{{'comParaTable.assignedTo' | translate}}</th>
          <td mat-cell *matCellDef="let element"
            (click)="addCompanyParameterPopUp('Appraisal Group Name','','parameterList',element.appraisalPlanName)">
            <ul style="padding: 0;list-style-position: inside;">
              <li class="overflow-ellipsis" *ngFor="let appName of element.appraisalPlanName |slice:0:3" [appEllipsifyMe]="appName | decryption">{{appName | decryption}}</li>
            </ul>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{'comParaTable.action' | translate}}</th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="roleModule.write" mat-button class="edit-del"
              (click)="addCompanyParameterPopUp('Edit',element.companyParameterId,'parameter','')" matTooltip="Edit">
              <mat-icon class="edit-color">edit</mat-icon>
            </button>
            <button *ngIf="roleModule.write" mat-button class="edit-del"
              (click)="deleteCompanyParameterPopUp(element.companyParameterId)" matTooltip="Delete">
              <mat-icon class="del-color" style="color: #cc0000;">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div fxLayout="row" fxLayoutAlign="center center" class="no-data-available"
        [ngClass]="(dataSource.data.length === 0)?'visible-no-data-available':''">
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>